{%extends 'base.html'%}
{%load i18n%}


{%block extra_head%}

<style>
.edit_template .editglyph{
    display:none;
}
.edit_template:hover .editglyph{
    display:inline-block;
}
</style>
{%endblock%}


{%block content%}
<h1>{%trans 'Templates'%}</h1>
<ul>
{%for c in categories%}
<li><a href='{%url 'emails:edit_category' c.id%}' class='edit_template'>{{c.category_name}} <span class='editglyph glyphicon glyphicon-pencil'></span></a>
<ul>
    {%for t in c.templates%}
    <li><a href='{%url 'emails:edit_template' t.id%}' class='edit_template'>{{t.template_name}}<span class='editglyph glyphicon glyphicon-pencil'></span></a>
    {%endfor%}
    <li><a href='{%url 'emails:add_template' c.id %}' class='new_template'><span class='glyphicon glyphicon-plus'></span></a></li>
</ul>

</li>
{%endfor%}
<li><a href='{%url 'emails:add_category'%}'><span class='glyphicon glyphicon-plus'></span></a></li>
</ul>
{%endblock%}
