<tr {%if msg == last_msg%}class='with-email'{%endif%} data-id='{{msg.id}}'>
    <td>{{msg.from_addr}}</td>
    <td >
        <div class='msg_short'>{%if msg != last_msg%}{{msg.body|striptags|truncatewords:10}}{%endif%}</div>
    </td>
    <td>{{msg.time_sent}} ({{msg.time_sent|timesince}} ago)</td>
</tr>
    {%if msg == last_msg%}
    <tr class='full'>
        <td colspan="3">
            <iframe  src='{%url 'emails:full_email' msg.id%}' frameborder="0" allowtransparency="true" scrolling="no" >Upgrade your browser</iframe>
        </td>
    </tr>

    {%endif%}


{%comment%}
<div class='email_msg'>
    <div class='header'>
        <h2>{{msg.from_addr}} </h2>
    </div>
    <div class='body'>
        {# Load the message in some way#}
            </div>
    <div class='time'>
            </div>
    {%if msg == last_msg%}
    <div class='body'>
        {{msg.body}}
    </div>
    {%endif%}
</div>
{%endcomment%}

{%for msg in msg.children%}
    {%include 'threaded_emails/includes/message.html'%}
{%endfor%}
